.space,
.star {
    width: 7px;
    display: inline-block;
    padding: 0 5px;
}

.star {
    color: black;

    &-red {
        background-color: red;
    }
    &-blue {
        background-color: blue;
    }
    &-green{
        background-color: green;
    }
    &-orange{
        background-color: orange;
    }
    &-yellow{
        background-color: yellow;
    }
    &-pink{
        background-color: rgb(255, 0, 191);
    }
}

.space {
    background-color: white;
    color: white;
}

.alphabet {
    padding: 1%;
}